/* Linkbox Styles */

#linkbox {
    display: flex;
    flex-flow: column;
    position: fixed;
    bottom: 42px;
    left: 42px;
    width: 23px;
    height: 150px;
    z-index: 99;
    justify-content: space-between;
    text-align: center;
}

#githubIcon {
    font-size: 25px;
    height: 23px;
    /*margin-bottom: 20px;*/
}

#emailIcon, #resumeIcon {
    vertical-align: center;
    text-align: center;
}

#emailIcon {
    font-size: 21px;
    padding-bottom: 2px;
}

#resumeIcon {
    font-size: 22px;
    /*margin-top: 27px;*/
}

#linkedinIcon {
    font-size: 22px;
    padding-bottom: 2px;
}

#devpostSVG {
    fill: white;
    width:23px;
    /*margin-bottom: 12px;*/
    transition: fill .2s;
    padding: none;
}

#devpostIcon {
    height: 23px;
}

#devpostIcon:hover > #devpostSVG {
    fill: #a6e22e;
}

#linkbox a {
    transition: color .2s;
}

#linkbox a:not(#resumeIcon):hover {
    color: #a6e22e;
}

#resumeIcon:hover {
    color: #f92672;
}

/* Navbar Styles */

#navbar {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #232323;
    transition: top .3s;
}

.navbarLink {
    font-size: 1.5em;
    transition: color .2s;
    padding-left: 10px;
    padding-right: 10px;
}

#navResume {
    color: #f92672;
    margin-right: 20px;
}

.navbarLink:hover, #navResume:hover {
    color: #a6e22e;
}

#navbarDetector {
    position: fixed;
    width: 100%;
    top: 0px;
    padding: 0px;
    margin: 0px;
    height: 60px;
    background-color: rgba(0,0,0,0);
    z-index: 99;
}

/* Landing Page Styles */

#landingPage {
    width: 100%;
}

#subtext {
    color: #fdf9ff;
    display: inline-block;
}

#textbox h1 {
    height: 40px;
}

#textbox {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
}

#cursor {
    display: none;
    position: absolute;
    width: 12px;
    height: 27px;
    top: 47px;
    background-color: #a6e22e;
}

#learnMore {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    display: block;
    transition: color .2s;
}

#learnMore p:hover {
    color: #a6e22e;
    cursor: pointer;
}

/* About Me Styles */

#aboutMe {
    display: flex;
    flex-flow: row-reverse;
    align-items: flex-start;
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 75px;
    margin-top: 50px;
}

#aboutMe h1 {
    height: 40px;
}

#aboutMe p {
    padding-top: 0px;
    margin-top: 0px;
}

#aboutMe img {
    width: 300px;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
}

@media only screen and (max-width: 700px) {
    #aboutMe {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding-right: 50px;
    }
    #aboutMe img {
        padding-left: 0px;
        padding-right: 50px;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 1150px) {
    #aboutMe img {
        width: 400px;
    }
    #aboutMe {
        padding-right: 200px;
        padding-left: 200px;
    }
}

/* Education Styles */

#education {
    padding-left: 100px;
    padding-right: 50px;
    margin-top: 75px;
    padding-bottom: 75px;
}

#education h2, #education p {
    padding: 0px;
    margin: 0px;
}

#education h1 {
    height: 35px;
}

#education p {
    height: 25px;
    line-height: 1em;
}

.educationContent h2 {
    line-height: 1em
}

.yearLabel {
    color: #a6e22e;
}

.sectionTitle {
    color: #a6e22e;
}

.educationContent {
    padding-left: 25px;
    margin-left: 25px;
    border-left: 2px solid #575757;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media only screen and (min-width: 1150px) {
    #education {
        padding-right: 200px;
        padding-left: 200px;
    }
}

/* Experience Styles */

#experience {
    margin-top: 75px;
    padding-left: 100px;
    padding-right: 20px;
    padding-bottom: 75px
}

#experienceContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    max-width: 750px;
}

#containers {
    padding-right: 10px;
}

#buttons p {
    font-size: 1.25em;
    color: #575757;
    background-color: rgba(0,0,0,0);
    border-left: 2px solid #575757;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 140px;
    transition: border .2s, color .2s, background-color .2s;
}

#buttons {
    margin-top: 52px;
}

#buttons p:hover {
    cursor: pointer;
    background-color: rgba(166, 226, 46, .1);
}

#volunteerContainer h2, #volunteerContainer p, #skillsContainer p, #courseworkContainer p {
    margin: 0px;
    padding: 0px;
    line-height: 1.2em
}

@media only screen and (min-width: 1150px) {
    #experience {
        padding-left: 200px;
    }
}

@media only screen and (max-width: 600px) {
    #experience {
        padding-right: 0px;
    }
}

@media only screen and (min-width: 900px) {
    #experience {
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    #experienceContainer {
        width: 750px
    }
}

/* Project Styles */

#projects {
    margin-top: 75px;
    margin-bottom: 200px;
    padding-left: 100px;
    padding-right: 50px;
    width: 50%
}

#projects img {
    position: absolute;
    margin-top: -50px;
}

@media only screen and (min-width: 1150px) {
    #projects {
        padding-left: 200px;
    }
}

@media only screen and (max-width: 600px) {
    #projects {
        width: auto;
    }
}

#projects a {
    font-size: 1.75em;
    color: #a6e22e;
    transition: color .2s;
    line-height: 1em;
}

#projects a:hover {
    color: #fdf9ff;
}

#projects p {
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;
}

#projects i {
    color: #f92672
}

/* Footer Styles */

#footer {
    line-height: 1em;
    text-align: center;
    color: #575757;
}

#footer a {
    color: #575757;
}

/* HTML Styles */

h1 {
    margin: 0px;
    padding: 0px;
    color: #f92672;
}

h2 {
    color: #fdf9ff;
    font-size: 1.75em;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    font-size: 1.25em;
}

p, a {
    color: #fdf9ff;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    object-fit: contain;
}

.fa {
    /*font-size: 20px;*/
}

.inlineLink {
    color: #a6e22e;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all .2s;
}

.inlineLink:hover {
    text-decoration-color: #a6e22e;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

body {
    font-family: 'Peddana', serif;
    margin: 0px;
    background-color: #232323;
    overflow-x: hidden;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

html, body {
    position:relative;
    overflow-x:hidden;
  }