.experience-section {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#left-panel {
    grid-column: 1;
    grid-row: 1;
}

#right-panel {
    margin-top: 0px;
    grid-column: 2;
    grid-row: 1;
    align-items: center;
}

#experience-label {
    margin-top: 50px;
    margin-bottom: 20px;
}

.chips-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}

.experience-container {
    display: grid;
    max-width: 1000px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
}

#awards p {
    text-align: center;
}

@media screen and (max-width: 850px) {
    #left-panel {
        grid-column: 1;
        grid-row: 1;
    }

    #right-panel {
        grid-column: 1;
        grid-row: 2;
    }

    .experience-container {
        margin-left: 80px;
        margin-right: 80px;
    }
}

@media screen and (min-width: 850px) {
    #left-panel {
        margin-right: 50px;
    }

    #right-panel {
        margin-left: 50px;
    }
}

#experience {
    min-height: 100vh;
    padding-bottom: 50px;
}

.education-label {
    margin-bottom: 10px;
}

.education-container li {
    margin-bottom: -5px;
}

.education-container ul {
    margin-bottom: 5px;
}

.work-content p {
    margin-bottom: 5px;
}

.work-content {
    width: 100%;
    max-width: 550px;
}