.projects-container {
    max-width: 1000px;
    margin-left: 100px;
    margin-right: 100px;
}

.project-card {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: relative;
    width: 60vw;
    transition: left 1s, opacity .5s;
    height: fit-content;
    grid-column: 1;
    grid-row: 1;
}

.project-card-next {
    left: 80vw;
    opacity: 0;
}

.project-card-prev {
    left: -80vw;
    opacity: 0;
}

.project-card-current {
    left: 0vw;
    opacity: 1;
}

#projects-label {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.chips-row {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.project-card-footer {
    display: flex;
    flex-flow: row;
    margin-top: 16px;
    justify-content: space-between;
}

.project-github-icon {
    color: #212529;
    font-size: 31px;
    transition: color .3s;
}

.project-display {
    display: grid;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bubble {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    outline: 2px solid #212529;
    margin: 4px;
    transition: background-color .4s;
}

.bubble-active {
    background-color: #212529;
}

.carousel-indicator {
    width: fit-content;
    display: flex;
    flex-flow: row;
}

.carousel-controls {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.carousel-btn {
    font-size: 20px;
    color: #212529;
    margin-right: 6px;
    margin-left: 6px;
}

/*
@media screen and (min-width: 800px) {
    .project-card {
        margin-left: clamp(0px, calc(100vw - 800px), 100px);
        margin-right: clamp(0px, calc(100vw - 800px), 100px);
    }
}
*/