@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Roboto', sans-serif;
}

p {
  font-weight: 500;
}

.welcome-text {
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
}

h1.welcome-text {
  font-size: clamp(48px, 8vw, 96px);
  font-weight: 900;
  color: #7E3FF2;

  background: -webkit-linear-gradient(330deg, #7E3FF2, #f23fb3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3, p {
  font-size: clamp(14px, 1.5vw, 20px) !important;
}

p {
  font-weight: 500;
}


.welcome-page {
  width: 100vw;
  height: 100vh;
}

.welcome-text-container {
  width: fit-content !important;
}

.centered-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linkbar {
  position: fixed;
  display: flex;
  flex-flow: column;
  bottom: 50px;
  left: 35px;
}

.linkbar-icon {
  font-size: clamp(20px, 2.5vw, 32px);
  color: #212529;
  background-color: rgba(0, 0, 0, 0);
  transition: color .3s;
  margin-bottom: clamp(4px, 1vh, 16px);
}

.linkbar-icon:hover {
  cursor: pointer;
}

.color-0:hover {
  color: #7E3FF2;
}

.color-25:hover {
  color: #9B3FE2;
}

.color-50:hover {
  color: #B83FD3;
}

.color-75:hover {
  color: #D53FC3;
}

.color-100:hover {
  color: #f23fb3;
}

.nav-header {
  height: 80px;
  padding-right: 40px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header-col {
  width: 100vw;
  height: calc(100vh - (80px + 160px));
}

.learn-more {
  width: 100vw;
  height: 160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

@keyframes gradient-color-fade-in {
  from {
    background: -webkit-linear-gradient(330deg,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    background-clip: text;
    -webkit-background-clip: text;
  }

  to {
    background: -webkit-linear-gradient(330deg, #7E3FF2, #f23fb3);
    background-clip: text;
    -webkit-background-clip: text;
  }
}

@keyframes gradient-color-fade-out {
  from {
    background: -webkit-linear-gradient(330deg, #7E3FF2, #f23fb3);
    background-clip: text;
    -webkit-background-clip: text;
  }

  to {
    background: -webkit-linear-gradient(330deg,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    background-clip: text;
    -webkit-background-clip: text;
  }
}

.gradient-hover {
  color: #212529;
  transition: color .3s;
  animation-name: gradient-color-fade-out;
  animation-duration: .3s;
  animation-timing-function: step-end;
  animation-fill-mode: forwards;
}

.gradient-hover:hover {
  color: rgba(0, 0, 0, 0);
  cursor: pointer;
  animation-name: gradient-color-fade-in;
  animation-delay: 0ms;
  animation-duration: 0ms;
  animation-timing-function: step-start;
  animation-fill-mode: forwards;
}

.learn-more-text {
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
}

.down-icon {
  font-size: clamp(20px, 2vw, 30px);
  margin: 0;
  padding: 0;
  color: #212529;
}

.learn-more-text:hover .down-icon {
  color: #7E3FF2;
}

.nav-item {
  height: fit-content;
  width: fit-content;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 0px;
  margin-top: 0px
}